lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

#ignore misc
holder*.json
*-mints.json
*transfer*.txt
*transfer*.json
*.txt
/logs
*exclu*.json
*wallet*.json
*snap*.json
src/images/*
mint-*.json